.card{
    width: 400px;
    height: 200px;
    border-radius: 30px;
    padding: 0%;
    border-color: rgb(226, 182, 226);
}
.card-body{
    margin-top: 50px;
    margin-left: 50px;}
.card-title{
    margin-left: 90px;
    color:  rgb(155, 6, 155);
}
.card-title1{
    margin-left: 50px;
    color:  rgb(155, 6, 155);

}
.card-text{
    text-align: center;
    margin-left: 0px;
}
.gotoproject{
    border-radius: 30px;
    background-color: thistle;
    border-color: rgb(155, 6, 155);
    margin-left: 30%;
}
.emptyspace{
    height: 450px;
    width: 100%;
   background-color: white;
}